/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3


/* Shortcuts */
#define _SCREEN_SHOT LC(LG(LS(N4)))
#define _ZOOM_IN LG(EQUAL)
#define _ZOOM_OUT LG(MINUS)


/* Intellij */
#define _QUICK_FIX LA(ENTER)
#define _DUXO LC(LS(D))
#define _ACTION LG(LS(A)) 
#define _FRAGMENT LC(LS(F)) // go to fragment
#define _VIEW_STATE LC(LS(V)) // go to view state
#define _GT_LAYOUT LC(LS(L)) // go to layout
#define _IMPORT LA(LC(O)) // optimize import
#define _FORMAT LA(LG(L)) // format file
#define _RENAME LS(F6)
#define _REFACTOR LC(T)

/* navigation */
#define _MISSION_CONTROL LC(UP)
#define _ALFRED LA(SPACE)
#define _TOGGLE_DOCK LG((LA(D)))
#define _DESKTOP LC(DOWN)
#define _LEFT_SPACE LC(LEFT)
#define _RIGHT_SPACE LC(RIGHT)
#define _LEFT_TAB LS(LG(LEFT_BRACKET))
#define _RIGHT_TAB LS(LG(RIGHT_BRACKET))
#define _BROWSER_BACK LG(LEFT_BRACKET)
#define _BROWSER_FORWARD LG(RIGHT_BRACKET)
#define _LEFT_WORD LA(LEFT)
#define _RIGHT_WORD LA(RIGHT)


/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I    &kp O   &kp P         &kp BKSP
   &kp LCTL  &kp A &kp S &kp D &kp F &kp G    &kp H &kp J &kp K    &kp L   &kp SEMICOLON &kp QUOT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M &kp CMMA &kp DOT &kp FSLH      &kp ESC
              &kp LGUI &mo LOWER &kp SPC       &kp ENTER &mo RAISE &kp RALT
                        >;
                };
                lower_layer {
                        label = "LOWER";
                        bindings = <
   &kp ESC  &kp N1               &kp N2           &kp N3                 &kp N4                  &kp N5                 &kp N6           &kp N7          &kp N8                  &kp  N9          &kp N0         &trans
   &trans  &kp _LEFT_SPACE      &kp _RIGHT_SPACE &kp _LEFT_TAB          &kp _RIGHT_TAB          &kp _ZOOM_IN           &kp LEFT         &kp DOWN        &kp UP                  &kp RIGHT        &kp HOME       &trans
   &kp _MISSION_CONTROL  &kp PAGE_UP          &kp PAGE_DOWN    &kp _BROWSER_BACK      &kp _BROWSER_FORWARD    &kp _ZOOM_OUT          &kp _LEFT_WORD   &kp _RIGHT_WORD &kp _MISSION_CONTROL    &kp _TOGGLE_DOCK &kp _DESKTOP   &trans
               &trans &trans &trans   &trans &mo ADJUST &trans 
                        >;
                };
                raise_layer {
                        label = "RAISE";
                        bindings = <
   &trans  &kp EXCL             &kp AT                  &kp HASH        &kp DLLR        &kp PRCNT                 &kp CARET &kp AMPS  &kp ASTRK &kp LPAR   &kp RPAR   &trans
   &trans  &kp F2               &kp _REFACTOR           &kp _RENAME     &kp _FORMAT     &kp _IMPORT               &kp MINUS &kp EQUAL &kp LBRC  &kp RBRC   &kp BSLH   &kp GRAVE
   &trans  &kp _SCREEN_SHOT     &kp _QUICK_FIX          &kp _FRAGMENT   &kp _VIEW_STATE &kp _GT_LAYOUT            &kp UNDER &kp PLUS  &kp LBKT  &kp RBKT   &kp PIPE   &kp TILDE
                        &trans  &mo ADJUST &trans    &trans  &trans  &trans 
                        >;
                };
                adjust_layer {
                        label = "ADJUST";
                        bindings = <
   &kp F1       &kp F2          &kp F3          &kp F4          &kp F5          &kp F6                &kp F7            &kp F8                  &kp F9          &kp F10         &kp F11 &kp F12
   &bt BT_CLR   &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &out OUT_TOG          &kp C_PREVIOUS    &kp C_VOLUME_DOWN       &kp C_VOLUME_UP &kp C_NEXT      &none   &none
   &reset       &none           &none           &none           &none           &none                 &none             &none                   &none           &none           &none   &none
                           &trans  &trans  &trans    &trans  &trans  &trans 
                        >;
                };
        };
};
